{% extends 'base.html.twig' %}
{% block title %}
	Liste des tâches
{% endblock %}

{% block body %}
	<a href="{{ path('new.task') }}" class="btn btn-info pull-right">Créer une tâche</a>
	<div class="row">
		{% for task in tasks %}
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="pull-right">
							{% if task.isDone %}
								<span class="glyphicon glyphicon-ok">
									<svg class="iconeDone" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M173.9 439.4l-166.4-166.4c-10-10-10-26.2 0-36.2l36.2-36.2c10-10 26.2-10 36.2 0L192 312.7 432.1 72.6c10-10 26.2-10 36.2 0l36.2 36.2c10 10 10 26.2 0 36.2l-294.4 294.4c-10 10-26.2 10-36.2 0z"/></svg>
								</span>
							{% else %}
								<span class="glyphicon glyphicon-remove">
									<svg class="iconeDone" xmlns=" http://www.w3.org/2000/svg" viewbox=" 0 0 352 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M242.7 256l100.1-100.1c12.3-12.3 12.3-32.2 0-44.5l-22.2-22.2c-12.3-12.3-32.2-12.3-44.5 0L176 189.3 75.9 89.2c-12.3-12.3-32.2-12.3-44.5 0L9.2 111.5c-12.3 12.3-12.3 32.2 0 44.5L109.3 256 9.2 356.1c-12.3 12.3-12.3 32.2 0 44.5l22.2 22.2c12.3 12.3 32.2 12.3 44.5 0L176 322.7l100.1 100.1c12.3 12.3 32.2 12.3 44.5 0l22.2-22.2c12.3-12.3 12.3-32.2 0-44.5L242.7 256z"/></svg>
								</span>
							{% endif %}
						</h4>
						<h4>
							<a href="{{ path('edit.task', {'id' : task.id }) }}">{{ task.title }}</a>
						</h4>
						<p class='cropsText'>{{ task.content }}</p>
					</div>
					<p class='d-flex justify-content-end cropsText'>
						<strong>
							{{ task.user.username }}
						</strong>
					</p>
					<div>
						{{ include ("task/_isDone_form.html.twig",{'button_label': 'Update'}) }}
						{% if app.user is  same as task.user or is_granted('ROLE_ADMIN')  %}
							{{ include ("task/_delete_form.html.twig",{'button_label': 'Sup. Tâche'}) }}
						{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning" role="alert">
				Il n'y a pas encore de tâche enregistrée.
				<a href="{{ path('new.task') }}" class="btn btn-warning pull-right">Créer une tâche</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
